<section class="intro">
    <div class="container slogan">
        <h2>Mariage de Floriane et François</h2>
    </div>
    <div class="container counters" counter>
        <div class="row">
            <div id="days" class="col-md-offset-3 col-md-2 number days animated fadeInUp"></div>
            <div id="hours" class="col-md-2 number hours animated fadeInUp"></div>
            <div id="minutes" class="col-md-2 number minutes animated fadeInUp"></div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-2 unit days animated fadeInUp">Jours</div>
            <div class="col-md-2 unit hours animated fadeInUp">Heures</div>
            <div class="col-md-2 unit minutes animated fadeInUp">Minutes</div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="container abstract">
        <p class="lead">Bienvenue sur le site de présentation du Mariage de Floriane et Francois !</p>
    </div>
</div>
<!--<div class="back-transition">-->

<!--</div>-->
<!--<div style="background-color: transparent; height: 200px;">-->

<!--</div>-->