<section class="intro">
    <div class="container slogan">
        <h2>Mariage de</h2>
        <h2>Floriane & François</h2>
    </div>
    <div class="container counters" counter>
        <div class="row">
            <div id="days" class="col-md-offset-3 col-md-2 number days animated fadeInUp"></div>
            <div id="hours" class="col-md-2 number hours animated fadeInUp"></div>
            <div id="minutes" class="col-md-2 number minutes animated fadeInUp"></div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-2 unit days animated fadeInUp">Jours</div>
            <div class="col-md-2 unit hours animated fadeInUp">Heures</div>
            <div class="col-md-2 unit minutes animated fadeInUp">Minutes</div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="container abstract">
        <p class="lead">Bienvenue sur notre site de mariage !</p>
        <p>Ici, vous trouverez de quoi préparer votre venue pour la célébration de notre union. Nous vous souhaitons une
            bonne navigation, et sommes pressés de vous voir ce grand jour.
        </p>
        <p style="text-align: center;">Floriane & François</p>
    </div>
</div>
<!--<div class="back-transition">-->

<!--</div>-->
<!--<div style="background-color: transparent; height: 200px;">-->

<!--</div>-->